@import '../../styles/utils.scss';

.nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: rem-size(100);
    padding: rem-size(35) rem-size(60);
    background-color: var(--nav-bg-color);
    transition: background-color 0.3s;

    &__button {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: rem-size(20);
        color: var(--primary-text-color);
        background-color: var(--accent-color);
        border-radius: 100px;
        text-transform: uppercase;
        @include font-size(20);
    }
}
